@{
    Layout = null;
}
<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li role="presentation"><a href="/home" class="home">Customers</a></li>
        <li role="presentation"><a href="/home/PagingSorting" class="listcust">Customers Pagging</a></li>
        <li role="presentation"><a href="/home/Task" class="todo">ToDo Task</a></li>
    </ul>
</div>